*{
    margin: 0;
}
:root{
    --main-red: #ee2658;
    --dark-red: #c9235a;
    --border: #471d57;
    --dark-red-transparent: rgba(148,12,12,0.5);
    --light-blue: #50c8ec;
    --lighter-blue: #5bd9ff;
    --dark-blue: #00b4d5;
    --dark: #19184d;
    --darker: #15123b;
}
body{
    background-color: #cbdbda;
    overflow: hidden;
}
@media only screen and (max-width: 600px) {
    .container{
        width:200%;
        height: 100vh;
    }
    .sm{
        display: none;
        visibility: hidden;
    }
    .grid{
    
        display: block;
    }
    .grid-cases{
        /* width: 100%; */
        grid-template-columns: 200% 0%
    }
} 
@media only screen and (min-width: 600px) {
    .container{
        height: 100vh;
        width: 95%;
        margin: 0 auto;
    }
}   
@media only screen and (min-width: 768px) {
    .container{
        height: 100vh;
        width: 80%;
        margin: 0vh auto;
    }
}
@media only screen and (min-width: 992px) {
    .container{
        height: 100vh;
        width: 75%;
        margin: 0vh auto;
    }
}
@media only screen and (min-width: 1200px) {
    .container{
        height: 100vh;
        width: 65%;
        margin: 0vh auto;
        /* align-items: center; */
    }
} 
.case-left{
    border-radius: 15px 15px 0 15px;
    z-index: 10;
}
.cl-container{
    height: 100vh;
}
.cl-inner{
    height: 100%;
    align-self: end;
    border-radius: 0px 0 0px 10px;
    background: linear-gradient(45deg, var(--dark-red-transparent) 0%, rgba(0,0,0,0) 20%);
    background-color: var(--dark-red);
    z-index: 15;
}
.cl-curve{
    right: -5px;
    height: 100%;
    justify-self: end;
    width: 60%;
    clip-path: polygon(50% 43%, 100% 43%, 100% 100%, 0% 100%);
    background-color: var(--dark-red);
    z-index: 8;
}
.hinge{
    width: 100%;
    height: 100%;
    align-self: end;
    background: linear-gradient(90deg, var(--dark-red-transparent) 0%, rgba(0,0,0,0) 40%, var(--dark-red-transparent) 80%);
    background-color: var(--main-red);
    z-index: 18;
}
.hinge:before, .hinge:after{
    content: "";
    height: 30px;
    width: 100%;
    background: linear-gradient(90deg, var(--dark-red-transparent) 0%, rgba(0,0,0,0) 50%, var(--dark-red-transparent) 80%);
    background-color: var(--dark-red);
    z-index: 10;
}
.hinge:before{top: 30px}
.hinge:after{bottom: 30px}
.case-right{
    left: -8px;
    border-radius: 0 15px 15px 0;
    z-index: 5;
}
.cr-curve{
    left: -8px;
    width: 65%;
    clip-path: polygon(0 43%, 50% 43%, 100% 100%, 0% 100%);
    z-index: 8;
}
.big-circle{
    height: 85px;
    width: 85px;
    top: 10px;
    left: 30px;
    background-color: #fff;
    z-index: 10;
}
.bc-inner{
    height: 58px;
    width: 58px;
    top: 20px;
    left: 40px;
    background: radial-gradient(circle, var(--light-blue) 0%,var(--dark-blue) 95%);
    z-index: 10;
}
.bci-eye{
    height: 15px;
    width: 15px;
    top: 45px;
    left: 65px;
    background-color: var(--dark-blue);
    z-index: 12;
}
.bcie-light{
    height: 10px;
    width: 10px;
    top: 40px;
    left: 60px;
    background-color: rgba(193, 225, 230, 0.2);
    z-index: 10;
}
.top-lights{
    height: 30px;
    width: 100px;
    top: 15px;
    right: 30%;
}
.small-circle{    
    height: 18px;
    width: 18px;
}
.white-display{
    height: 240px;
    width: 70%;
    top: 25%;
    left: 10%;
    border-radius: 15px 15px 15px 60px;
    background-color: #fff;
    z-index: 16;
}
.display{
    height: 65%;
    width: 90%;
    margin: 10% auto;
    border-radius: 5px;
    background-color: var(--light-blue);
    z-index: 17;
}
.display-on{
    bottom:12px;
    left: 50px;
    height: 25px;
    width: 25px;
    background-color: var(--main-red);
    border: solid 3px var(--dark)
}
.speaker{
    bottom: 5px;
    right: 25px;
    height: 38px;
    width: 30%;
    z-index: 18;
}
.speaker-line{
    height: 6px;
    width: 100%;
    border-radius: 30px;
    background-color: var(--dark);
}
.joystick{
    height: 40px;
    width: 40px;
    bottom: 100px;
    left: 15%;
    background-color: var(--light-blue);
    z-index: 17;
}
.selectors-container{
    height: 20px;
    width: 30%;
    bottom: 105px;
    left: 30%;
}
.selectors{
    width: 80%;
    height: 15px;
    border-radius: 30px;
}
.label{
    width: 35%;
    height: 40px;
    border-radius: 5px;
    bottom: 40px;
    left: 15%;
    background-color: rgb(255, 238, 1)
}
.arrows{
    height: 90px;
    width: 90px;
    bottom: 40px;
    right: 15%;
}
.arrow-up{
    grid-area: up;
    border-radius: 4px 4px 0px 0px;
}
.arrow-up:after{
    left: 7px;
    top: 4px;
    clip-path: polygon(50% 37%, 0% 100%, 100% 100%);
}
.arrow-down{
    grid-area: down;
    border-radius: 0px 0px 4px 4px;
}
.arrow-down:after{
    left: 7px;
    top: 10px;
    clip-path: polygon(50% 63%, 0% 0%, 100% 0%);
}
.arrow-left{
    grid-area: left;
    border-radius: 4px 0px 0px 4px;
}
.arrow-left:after{
    left: 3px;
    top: 7px;
    clip-path: polygon(37% 50%, 100% 100%, 100% 0%);
}
.arrow-right{
    grid-area: right;
    border-radius: 0px 4px 4px 0px;
}
.arrow-right:after{
    right: 4px;
    top: 7px;
    clip-path: polygon(63% 50%, 0% 100%, 0% 0%);
}
.arrow-center{grid-area:center}
.bb-container{
    height: 50px;
    right: 0;
    margin: auto;
    width: 90%;
    bottom: 13%;
    z-index: 30;
}
.bot-but{
    height: 45px;
    width: 85%;
    background-color: var(--dark);
    border-radius: 8px;
    z-index: 30;
}
.tb-container{
    height: 50px;
    left: 10%;
    right: 0;
    width: 55%;
    bottom: 30%;
    z-index: 30;
}
.two-but{
    height: 30px;
    width: 95%;
    background-color: #fff;
    border-radius: 3px;
    z-index: 30;
}
.yellow-circle{
    height: 30px;
    width: 30px;
    right: 10%;
    bottom: 34%;
}
.r-speaker{
    top: 53%;
    right: 25px;
    height: 38px;
    width: 25%;
    z-index: 18;
}
.r-speaker-line{
    height: 6px;
    width: 90%;
    border-radius: 30px;
    background-color: var(--dark);
}
.keyboard{
    height: 70px;
    width: 80%;
    top: 35%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 18;
}
.key1{
    grid-area: k1;
    border-radius: 10px 0px 0px 0px;
}
.key2{
    grid-area: k2;
    border-radius: 0px 10px 0px 0px;
}
.key3{
    grid-area: k3;
    border-radius: 0px 0px 0px 10px;
}
.key4{
    grid-area: k4;
    border-radius: 0px 0px 10px 0px;
}
.keyi1{grid-area: ki1}
.keyi2{grid-area: ki2}
.keyi3{grid-area: ki3}
.keyi4{grid-area: ki4}
.keyi5{grid-area: ki5}
.keyi6{grid-area: ki6}
.key{
    background-color: var(--light-blue);
    transition: background-color 100ms ease-in-out;
    cursor: pointer;
}
.key:hover{
    background-color: var(--dark-blue);
}
.r-display{
    height: 90px;
    width: 80%;
    background-color: var(--dark);
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    border-top: solid 8px var(--darker)
}

.key2, .key4, .keyi1, .keyi2, .keyi3, .keyi4, .keyi5, .keyi6{
    border-left: solid 2px var(--dark-blue);
}
.key1, .key2, .keyi1, .keyi2, .keyi3{
    border-bottom: solid 2px var(--dark-blue);
}
.key1, .key2, .key3, .key4, .keyi1, .keyi2, .keyi3, .keyi4, .keyi5, .keyi6 {
    border-top: solid 4px var(--lighter-blue);}

.arrow-up:after, .arrow-down:after, .arrow-left:after, .arrow-right:after{
    content: "";
    height: 50%;
    width: 50%;
    position: absolute;
    background: rgba(255,255,255,0.3);
}
.s-green{background-color: rgb(1, 255, 43)}
.s-orange{background-color: rgb(250, 179, 27)}
.arrow-up, .arrow-down, .arrow-left, .arrow-right, .arrow-center {
    background-color: var(--dark); 
    height: 100%; 
    width: 100%;
}
.arrow-up, .arrow-down, .arrow-left, .arrow-right{cursor:pointer}
.arrow-up:hover{background: linear-gradient(var(--darker) 0%, var(--dark) 100%)}
.arrow-down:hover{background: linear-gradient( var(--dark) 0%, var(--darker) 100%)} 
.arrow-right:hover{background: linear-gradient(90deg, var(--dark) 0%, var(--darker) 100%)} 
.arrow-left:hover{background: linear-gradient(90deg, var(--darker) 0%, var(--dark) 100%)} 
.red-light{background: radial-gradient(circle,rgb(255, 1, 1) 0%,rgb(150, 0, 0) 95%)}
.yellow-light{background: radial-gradient(circle,rgb(255, 238, 1) 0%,rgb(168, 157, 3) 95%)}
.green-light{background: radial-gradient(circle,rgb(1, 255, 43) 0%,rgb(6, 134, 27) 95%)}
.debug{border: 2px solid green}
.big-circle, .bc-inner, .bci-eye, .bcie-light, .small-circle, .display-on, .joystick, .yellow-circle{border-radius: 50%;}
.case-right, .case-left, .big-circle, .white-display {box-shadow: 10px 10px 22px 0px var(--dark-red-transparent)}
.bg-red{background-color: var(--main-red)}
.border{border: 4px solid var(--border)}
.grid{display: grid}
.grid-cases{grid-template-columns: 56% 44%}
.grid-left-case{grid-template-columns: 90% 10%}
.grid-right-case{grid-template-rows: 20% 80%}
.grid-top-lights{
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.grid-speaker{grid-template-rows:1fr 1fr 1fr}
.grid-selectors{grid-template-columns: 1fr 1fr}
.grid-arrows{grid-template-areas:
    ". up ."
    "left center right"
    ". down ." ;
}
.grid-bot-but{grid-template-columns: 1fr 1fr}
.grid-keyboard{grid-template-areas:
    "k1 ki1 ki2 ki3 k2"
    "k3 ki4 ki5 ki6 k4";
}
.relative{position: relative}
.absolute,.hinge:before,.hinge:after, .white-display, .speaker, .display-on, .joystick, .selectors-container, .label, .arrows {position: absolute}
.h-100{height: 100%}